@import "../../../node_modules/@bimdata/design-system/src/assets/css/design-system.css";

.VPImage.logo {
  height: 36px !important;
}

.VPHome {
  margin-bottom: 0 !important;
}

.VPHome .container {
  max-width: none !important;
  padding: 0 !important;
}

.VPDoc .container:has(#bimdata-doc-swagger-ui) {
  .aside {
    display: none;
  }
  
  .content .content-container {
    max-width: none;
  }
}

.VPNavBarSearch {
  .DocSearch-Button {
    width: 250px;
    border: none;
    background-color: var(--color-silver-light);
    color: var(--color-granite-light);
    &:hover {
      color: var(--color-granite);
    }
    .DocSearch-Button-Container {
      flex:1;
    }
  }
}
.VPLocalSearchBox {
  .search-bar {
    background-color: var(--color-silver-light);
    &:focus-within {
      border: none;
    }
  }
  .results {
    .result {
      border: solid 1px var(--color-silver-light);
      color: var(--color-granite);
      font-size: 15px;
      .titles {
        mark {
          background-color: var(--color-neutral);
          color: var(--color-white);
        }
      }
      &.selected {
        border-color: var(--color-neutral);
        .titles {
          color: var(--color-neutral) !important;
          mark {
            background-color: var(--color-neutral);
            color: var(--color-white);
          }
        }
      }
    }
  }
}