@import "../../../node_modules/@bimdata/design-system/src/assets/css/design-system.css";
@import "./tokens.css";
@import "./buttons.css";

html, body {
  font-family: var(--vp-font-family-base);
  font-size: 16px;
  .vp-doc {
    a {
      text-decoration: none;
    }
  }
  p {
    font-weight: 400;
  }
}

/* ========================================
   CUSTOM
   ======================================== */
.VPImage.logo {
  height: 28px !important;
}

.VPHome .container {
  max-width: none;
  padding: 0;
}

/* ========================================
   SEARCHBOX
   ======================================== */
.VPNavBarSearch {
  .DocSearch-Button {
    padding: 0 12px;
    width: 250px;
    border: 1px solid var(--vp-sidebar-border-color);
    background-color: var(--vp-sidebar-bg-color);
    color: #6F879C;
    border-radius: 50px;
    &:hover {
      color: var(--color-granite);
    }
    .DocSearch-Button-Container {
      flex:1;
    }
  }
}
.VPLocalSearchBox {
  .search-bar {
    background-color: var(--vp-sidebar-bg-color);
    &:focus-within {
      border: none;
    }
  }
  .results {
    .result {
      border: solid 1px var(--vp-sidebar-bg-color);
      color: var(--color-granite);
      font-size: 15px;
      .titles {
        mark {
          background-color: var(--color-neutral);
          color: var(--color-white);
        }
      }
      &.selected {
        border-color: var(--color-neutral);
        .titles {
          color: var(--color-neutral) !important;
          mark {
            background-color: var(--color-neutral);
            color: var(--color-white);
          }
        }
      }
    }
  }
}

